/* General styles for the body and header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Default text color */
}

header {
    position: fixed; /* Fixed position to make it sticky */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Full width of the viewport */
    background-color: white;
    color: black;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    padding: 1rem;
    z-index: 1000; /* Ensure it's above other content */
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.header-container h1 {
    margin: 0;
    margin-left: -90px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.blue-button {
    background-color: #0056b3;
    color: white;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    text-decoration: none; /* Remove underline */
}

.blue-button:hover {
    background-color: #007bff;
}

/* Menu icon for smaller screens */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .logo-container {
        margin-left: 0;
    }

    .header-container h1 {
        margin: 0.5rem 0;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    nav ul li a {
        padding: 0.5rem;
    }

    .menu-icon {
        display: flex;
    }
}



/* Styles for the hero section */
#hero {
    background-color: white;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: auto;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
}

.hero-text {
    max-width: 50%;
    margin-bottom:20px; 
    margin-left: 40px;
}

.hero-text h1 {
    margin: 0;
    margin-bottom: 10px;
}

.hero-text h1 span {
    color: #32CD32; /* Dark green */
}

.hero-text h2 {
    color: #0056b3;; /* Dodger blue */
    margin: 0;
}

.hero-text p {
    color: black; /* Dodger blue */
    margin-top: 2rem;
    line-height: 1.5;
}

.hero-text p span {
    color: #333; /* Black */
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.hero-buttons button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.hero-buttons button:hover {
    background-color: #006400;
}

.hero-image {
    max-width: 50%;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        text-align: center;
    }

    .hero-text {
        padding: 2rem 1rem;
    }

    .hero-text h1 {
        font-size: 2rem; /* Decrease font size for smaller screens */
    }

    .hero-text h2 {
        font-size: 1.8rem; /* Decrease font size for smaller screens */
    }

    .hero-text p {
        font-size: 1rem; /* Decrease font size for smaller screens */
    }
    #hero {
        margin-top: 100px; /* Adjust margin to ensure space below fixed navbar */
    }
}
        .banner {
    background-color: #0044cc;
    color: white;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

.separator {
    color: white;
    margin: 0 10px;
    font-size: 14px;
}
@media (max-width: 1200px) {
    .link {
        font-size: 0.9rem; /* Decrease font size for medium screens */
    }
}
@media (max-width: 992px) {
    .link {
        font-size: 0.8rem; /* Further decrease font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .banner {
        flex-wrap: wrap; /* Allow content to wrap */
        padding: 10px 5px; /* Reduce padding */
    }

    .link {
        margin: 5px;
        font-size: 12px; /* Decrease font size */
    }

    .separator {
        display: none; /* Hide separator on smaller screens */
    }
}
@media (max-width: 480px) {
    .link {
        font-size: 10px; /* Further decrease font size */
    }
}



/* General section padding */
section {
    padding: 2rem;
}
.container {
    background-color: white; /* Light gray background */
    padding: 20px;
    
    margin-bottom: 20px;
    text-align: justify; /* Justify text for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
}

.container p {
    color: black; /* Gray text color */
    line-height: 1.6; /* Increased line height for better readability */
    margin-bottom: 20px; /* Bottom margin for spacing */
}

.b-button {
    background-color: #0056b3; /* Blue button background */
    color: #fff; /* White button text */
    border-radius: 5px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.b-button:hover {
    background-color: #007bff; /* Darker blue on hover */
}






.grey-background {
    background-color: #f0f0f0; /* Set background color to grey */
}

/* Styles for the images in the sections */
.section-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#our-impact {
    text-align: center; /* Center aligning the content */
}

/* Styles for impact stats */
/* Styles for the impact stats */
.impact-stats {
    display: flex;
    justify-content: space-around; /* Evenly spread items */
    gap: 2rem;
}

.impact-stats div {
    flex: 1; /* Distribute available space evenly among items */
    text-align: center;
}

.impact-stats div h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.impact-stats div p {
    font-size: 1.2rem;
    margin: 0;
}

 #our-partners p, #kids-zone p {
    text-align: justify;
}

/* Styles for the initiatives section */
#our-key-initiatives h2 {
    text-align: center; /* Center align content */
    color: #0056b3; /* White text color */
    padding: 50px 20px; /* Padding for content */
    margin-top: -25px; /* Top margin for spacing */
}



.initiatives-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 20px; /* Added border-radius for curved edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow effect at the bottom */
    overflow: hidden;
    text-align: center;
    padding: 0.75rem; /* Reduced padding */
    width: 180px; /* Reduced width */
    transition: transform 0.2s; /* Adding a smooth transition for hover effect */
}

.card:hover {
    transform: translateY(-5px); /* Slightly lift the card on hover for a 3D effect */
}

.initiative-image {
    width: 100%;
    height: 140px; /* Reduced height */
    object-fit: cover;
    margin-bottom: 0.5rem; /* Reduced margin */
}

.initiative h3 {
    color: #0056b3;
    margin: 0.75rem 0; /* Reduced margin */
}

.initiatives-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjusted minimum column width */
    gap: 1rem; /* Reduced gap */
}

#kids-zone {
    padding: 2rem;
    text-align: center;
}

.kids-zone-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: left; /* Align text content to the left */
}

#kids-zone h1 {
    color: #0056b3;
    font-size: 2rem; /* Default font size for heading */
    padding-bottom: 3rem;
}


.kids-zone-text p {
    margin-bottom: 1rem; /* Margin below each paragraph */
    padding-top: 1rem;
}


.kids-zone-image {
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: auto;
    max-height: 300px; /* Set a maximum height for the image */
    object-fit: cover; /* Ensure the image covers its container */
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .kids-zone-content {
        flex-direction: column;
        align-items: center;
    }

    .kids-zone-text, .kids-zone-image {
        width: 100%;
    }

    #kids-zone h1 {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
        margin-bottom: 1rem; /* Add margin below heading */
    }

    .kids-zone-image {
        max-width: 100%; /* Ensure the image does not exceed its container */
        height: auto;
        max-height: 200px; /* Set maximum height for the image */
        object-fit: contain; /* Ensure the image fits within its container */
        order: -1; /* Move the image above text */
    }

    .kids-zone-text {
        margin-top: 0.5rem; /* Adjusted margin for text on smaller screens */
    }
}

@media (min-width: 769px) {
    .kids-zone-content {
        flex-direction: row; /* Display items side by side on larger screens */
        align-items: flex-start; /* Align items to the start (top) */
    }

    .kids-zone-text {
        width: 50%; /* 50% width for text on larger screens */
        margin-top: 0; /* Reset margin on larger screens */
    }

    .kids-zone-image {
        width: 50%; /* 50% width for image on larger screens */
        max-width: none; /* Override max-width for larger screens */
        margin-right: 2rem; /* Space between image and text */
        max-height: none; /* Remove max-height on larger screens */
    }

    #kids-zone h1 {
        font-size: 2rem; /* Larger font size for heading on larger screens */
        margin-bottom: 1rem; /* Margin below heading */
    }
}
.side-heading {
    font-weight: bold;
}



.partners-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f0f0f0;
}

.partners-section h1 {
    color: #0056b3;
    margin-bottom: 30px;
    font-size: 24px;
}

.partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust gap between logos */
    flex-wrap: wrap;
    max-width: 1000px; /* Limit maximum width of logos container */
    margin: 0 auto; /* Center align the logos container */
}

.partners-logos img {
    max-width: 100%; /* Ensure images scale proportionally */
    height: auto; /* Maintain aspect ratio */
    max-height: 80px; /* Limit maximum height of logos */
    margin-bottom: 20px; /* Add space between logos */
}

@media (max-width: 768px) {
    .partners-logos {
        gap: 10px; /* Decrease gap between logos for smaller screens */
    }
}

@media (max-width: 576px) {
    .partners-logos img {
        max-height: 60px; /* Further reduce maximum height for smaller screens */
    }
}

/*digital media*/

.digital-media-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px; /* Space around the container */
    
    text-align: center;
}

.digital-media-container h1 {
    color: #0056b3;
    margin-bottom: 10px;
}

.digital-media-container p {
    color: black;
    margin-bottom: 15px; /* Space between lines */
    line-height: 1.5; /* Adjust line height for better readability */
    text-align: justify; /* Justify text for better alignment */
}

.blue-button {
    background-color: #0056b3;
    color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.blue-button:hover {
    background-color: #007bff;
}




/* youtube vid*/

.carousel {
    position: relative;
    width: 100%;
    height: 45vh; /* Adjust height as needed */
    background: #f0f0f0; /* Grey background */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 90%; /* Adjust width as needed */
}

.carousel-slide {
    display: flex;
}

.carousel-item {
    flex: 1 0 21%; /* Adjusted flex to allow spacing */
    margin: 0 10px; /* Equal space between items */
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}



button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1; /* Ensure buttons are above images */
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


/* Styles for the recent activities section */
#recent-activities {
    padding: 2rem;
    text-align: center;
}
.section-heading {
    font-size: 2rem; /* Larger font size */
    color: #0056b3; /* Blue color */
    text-align: center; /* Center align heading */
    margin-bottom: 2rem; /* Space below heading */
}


.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

}

.activity-reverse {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.activity-image {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.activity-text {
    width: 45%;
    text-align: center;
}

.activity h1 {
    margin-bottom: 1rem;
    color: #32CD32;;
}

.activity button {
    margin-top: 1rem;
}
.read-more {
            color: #0056b3; /* Blue color */
            font-family: Arial, sans-serif;
            font-size: 16px;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

        .read-more .fa-angle-double-right {
            margin-left: 5px;
            font-size: 18px;
        }

        .read-more:hover {
            text-decoration: underline;
        }

 .contribute-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #eaeaea;
            padding: 20px;
            box-sizing: border-box;
            width:100%;
            overflow: hidden; 
            
        }
        .contribute-text {
            max-width: 60%;
            box-sizing: border-box;
        }
        .contribute-text h1 {
            color: #0056b3;
            font-size: 2em;
            margin: 0 0 10px;
        }
        .contribute-text p {
            color: #333;
            font-size: 1em;
            line-height: 1.5;
        }
        .contribute-image {
            max-width: 35%;
            box-sizing: border-box;
        }
        .contribute-image img {
            width: 100%;
            border-radius: 10px;
        }
        .contribute-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #0056b3;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 1em;
            transition: background-color 0.3s ease;
        }
        .contribute-button:hover {
            background-color: #004494;
        }



/* Styles for the footer */
footer {
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 1rem;
}

.footer-column h3 {
    color: #FFA500;
    border-bottom: 1px solid #FFA500;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}


.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 0.5rem 0;
}




.footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .logo .content {
    font-size: 0.8rem; /* Smaller font size for the content */
    border-bottom: 2px solid white; /* Add a white line below the content */
    padding-bottom: 5px; /* Adjust padding if needed */
}

        .logo .content h2 {
    margin: 0 0 2px 0; /* Adjust margin-bottom to reduce space */
    /* Adjust header size */
}
        .logo .content div {
    font-size: 0.8rem; /* Adjust text size */
    margin:0;
}
        .footer .logo img {
            height: 70px;
            margin-right: 10px;
            background-color: #333;
        }
        .footer .content {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .footer .address, .footer .contact {
            font-size: 0.8rem; 
            margin-top: 10px;
            text-align: center;
        }
        .footer .social-icons {
            margin-top: 20px;
            text-align: center;
        }
        .footer .social-icons a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            font-size: 24px;
        }
        @media (min-width: 768px) {
            .footer {
                flex-direction: row;
                justify-content: space-between;
                padding: 20px 50px;
            }
            .footer .logo {
                margin-bottom: 0;
            }
            .footer .content {
                text-align: left;
            }
            .footer .address, .footer .contact, .footer .social-icons {
                text-align: left;
                margin-top: 0;
            }




